<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WZXKaiYanDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BD71DDF1C55CE4D007840D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BD71DF81C55CE4D007840D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BD71E031C55CE4D007840D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
